body {
    font-family: 'Poppins', sans-serif;
    background-color: #2e0101;
    color: #fff;
}

.container,
footer,
.about-ghost,
.favorite-songs {
    max-width: 1400px;
    margin: 0 auto;
}

header h1 {
    font-family: 'Playfair Display', serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
}

header h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
        text-align: center;
        margin: 0;
}

header h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 5px;
        margin: 0;
}

button {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;
        width: 146px;
        height: 51px;
    
        background: #fff;
        border-radius: 100px;
        border: none;
        color: #430404;
}

button:hover {
    color: #fff;
    background-color: #bb3030;
    transition: all 200ms ease-out;
}

a {
    text-decoration: none;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('ghost the band.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 230px 0;
}

.header-row {
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 32px;
}

.about-ghost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #120204;
}

.about-ghost img {
    max-width: 100%;
}

.why-ghost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.why-ghost h4,
.favorite-songs h4 {
    text-transform: uppercase;
    font-weight: 700;
     font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    text-decoration: underline overline #bb3030;
}

.why-ghost h3,
.favorite-songs h3 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
}

.favorite-songs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
}

.card {
    max-width: 80%;
    background-color: #ebe9e9;
    color: #000;
    padding: 10px;
    box-shadow: 10px 10px 40px rgba(7, 5, 20, 0.2);
    border-radius: 15px;
    height: auto;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card p {
    font-size: 14px;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 100px;
    max-width: 1200px;
}

footer h4 {
    font-size: 30px;
}

footer a {
    color: #bb3030;
}

footer a:hover {
    color: #fff;
    transition: all 200ms ease-out;
}

@media (max-width: 950px) {
    header {
        padding: 175px 0;
    }

    header h1 {
        font-size: 45px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .about-ghost,
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .about-ghost {
        align-items: center;
    }

    .about-ghost img {
        max-width: 75%;
    }

    .song-cards {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .card {
        margin: 10px auto;
    }
}

@media (max-width: 665px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 45px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .footer-container {
        padding: 0 50px;
    }
}
